{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{% static 'logo.jpg'%}" type="image/x-icon">
    <title>Product Hunt</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                  PortFolio!
                    <!-- <img src="{% static 'logo.jpg'%}" length="30px" height="30px" /> &nbsp;&nbsp;Product Hunt -->
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mr-auto">
                    </ul>

                    <div class="form-inline my-2 my-lg-0 pull-right">
                        {% if user.is_authenticated %}
                        <button title="Add new product" class="btn btn-outline-success my-2 my-sm-0" style="color: white !important; border:1px solid white" type="submit"><a style="color:white" href="{% url 'create' %}">+</a></button> &nbsp;&nbsp;&nbsp;

                        <button class="btn btn-outline-success my-2 my-sm-0" style="color: white !important; border:1px solid white" type="submit"><a style="color:white" href="{% url 'products' %}">My Products</a></button> &nbsp;&nbsp;&nbsp;
                        <button class="btn btn-outline-success my-2 my-sm-0" style="color: white !important; border:1px solid white" type="submit"><a style="color:white" href="javascript:{document.getElementById('logout').submit()}">Log Out</a></button>                        &nbsp;&nbsp;&nbsp;
                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden" />
                        </form>
                        {% else %}
                        <button class="btn btn-outline-success my-2 my-sm-0" style="color: white !important; border:1px solid white" type="submit"><a style="color:white" href="{% url 'signup' %}">Sign Up</a></button> &nbsp;&nbsp;&nbsp;
                        <button class="btn btn-outline-success my-2 my-sm-0" style="color: white; border:1px solid white" type="submit"><a style="color:white" href="{% url 'login' %}">Login</a></button> {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>

    {% block content %} {% endblock %}
    <footer class="page-footer font-small blue pt-4">

        <div class="footer-copyright text-center py-3">© Have a happy 2019
            <a href=""> </a>
        </div>
    </footer>
    </div>
</body>

</html>