{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    {% block content%}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>My Products</h1>
            </div>
            <br><br><br> {% for product in myProducts %}

            <div class="col-md-4">
                <div class="card" style="width: 18rem; margin-bottom: 20px;">
                    <img src="{{product.icon.url}}" style=" width: 100%;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="card-text">{{product.body}} &nbsp; {{product.id}} </p>

                        <a href="{% url 'productDetail' product_id=product.id %}" class="btn btn-primary">See Product</a>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>

    {% endblock %}
</body>

</html>