{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    {% block content%}

    <div class="container">
        <br><br> {% if error %} {{error}} {% endif %}
        <br><br>
        <h1>Sign Up</h1>
        <form method="POST" action="{%url 'signup'%}">
            {% csrf_token %} Username:
            <br>
            <input type="text" name="username" />
            <br> Password:
            <br> <input type="password" name="password1">
            <br> Retype Password :
            <br> <input type="password" name="password2"><br><br>
            <input type="submit" value="Sign Up" class="btn btn-primary">
        </form>
    </div>

    {% endblock %}
</body>

</html>